django==6.1.1
pyctr==0.7.6
Flask==3.1.3
Werkzeug==3.1.8
django-extensions==4.1
pyOpenSSL==26.4.0
django-admin-interface==0.32.0
django-colorfield==0.14.0
python-dateutil>=2.9.0.post0
xmltodict==1.0.4
requests==2.34.2